node_modules
**/node_modules
**/.next
**/.tsbuildinfo
**/*.tsbuildinfo
.git
.github
.env.local
.env.production.local
*.pem
packages/contracts/cache
packages/contracts/artifacts
packages/contracts/typechain-types
packages/zama-contracts/cache
packages/zama-contracts/artifacts
packages/zama-contracts/typechain-types
packages/frontend/.next
packages/frontend/dist
docs
logo
new-home
*.md
